<div class="font-sans  w-screen overflow-hidden">
  <div class="flex flex-col">

    <section class="w-screen h-screen ">
      <div class="ml-8 mt-0 pt-8 xl:pt-24 xl:ml-24">
          <div class="text-xl xl:text-3xl">Howdy, i am</div>
          <div class="text-4xl xl:text-6xl">Joseph Hodes</div>
          <div class="text-2xl xl:text-3xl">I build cool things.</div>
      </div>
        <div class="ocean">
          <div class="w-screen h-10" class="wave" ></div>
          <div class="w-screen h-72" class="wave"></div>
          <div  class="w-screen h-72" class="wave"></div>
        </div>
    </section>
    <div class="h-screen bg-blue-brightBlue ">
    </div>
  </div>
</div>
